*.o
*.so
*.out
output.txt
output2.txt
ping.txt

#From tool cmakegit.
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*.swp
valgrind.csv

#From tool cmakegit.
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*.swp
valgrind.csv

#From tool cmakegit.
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*.swp
valgrind.csv
